{
  "ConnectionStrings": {
    "DefaultConnection": ""
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AdminSettings": {
    "Email": "",
    "Password": ""
  },
  "JwtSettings": {
    "Secret": "",
    "Issuer": "InventoryManagementSystem",
    "Audience": "InventoryManagementSystem"
  }
}
